html {
  height: 100%;
  align-items: center;
  margin: 50px;
}

body {
  height: 100%;
  margin: auto;
  align-items: center;
}

div.user.toast-body {
  text-align: right;
}

/* div.toast.fade.show {
  object-position: 0%;
  right: 0;
  width: 400px;
} */

div.card-title {
  padding: 20px;
  margin: 0px;
  border-bottom: 1px solid gainsboro;
}
