html {
  height: 100%;
  align-items: center;
  margin: 50px;
}

body {
  height: 100%;
  margin-left: 30%;
  align-items: center;
}

div.user.toast-body {
  text-align: right;
}

div.toast.fade.show {
  /* object-position: 0%;
  right: 0; */
  /* width: 700px; */
}

div.card-title {
  padding: 20px;
  margin: 0px;
  border-bottom: 1px solid gainsboro;
}

/* input.form-control {
  width: 90%;
} */

div.card {
  width: 55%;
}

form {
  padding: 30px;
}

div.p-3.my-2.rounded {
  /* padding: 30px; */
  margin: 30px;
}

div.bubbles {
  height: 500px;
  /* height: 50%; */
  overflow-y: scroll;
}
